{#
/**
 * @file
 * Default theme implementation to present a media entity.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
{%
set media_classes = [
  'audio',
  'audio--default',
  'clearfix',
]
%}
{% set title = content.field_title|field_value|render|striptags|trim %}
{% if content.field_subtitle %}
  {% set aria_label = title ~ '. ' ~ content.field_subtitle|field_value|render|striptags|trim %}
{% endif %}
{% do attributes.setAttribute('aria-label', aria_label ) %}
{% do attributes.setAttribute('aria-details', audio_attributes.id ~ '__contentinfo') %}
<article{{ attributes.addClass(media_classes) }}>
  {{ content.contextual_links }}
  <div class="audio__image-wrapper">
    <div class="audio__image">{{ content.field_audio_preview|field_value }}</div>
  </div>
  <div class="audio__audio">
    <audio{{ audio_attributes.addClass('degov-media-plyr') }}>
      {% if audio_mp3 %}
      <source src="{{ audio_mp3 }}" type="audio/mpeg">
      {% endif %}
      {% if audio_ogg %}
      <source src="{{ audio_ogg }}" type="audio/ogg">
      {% endif %}
      {% trans %}
      I'm sorry; your browser doesn't support HTML5 audio in OGG or MP3 format.
      {% endtrans %}
    </audio>
  </div>
  {{ field_media_copyright }}
  <div id="{{ audio_attributes.id ~ '__contentinfo' }}" class="audio__extra-info">
    <div class="media__type-label">{{ 'Audio'|t }}</div>
    <div class="audio__downloads">
      {% if content.download_mp3 %}
        {{ content.download_mp3 }}
      {% endif %}
      {% if content.download_ogg %}
        {{ content.download_ogg }}
      {% endif %}
    </div>
    {% if content.field_media_duration|field_value %}
      <div class="audio__duration"{{ content.field_media_duration|quickedit_attr }}>{{ content.field_media_duration|field_value }}</div>
    {% endif %}
    <div class="audio__date">
      {% if content.audio_date %}
        {{ content.audio_date }}
      {% else %}
        {{ created|date("d.m.Y") }}
      {% endif %}
    </div>
    {% if content.field_description|field_value %}
      <div class="audio__description"{{ content.field_description|quickedit_attr }}>
        {{ content.field_description|field_value }}
      </div>
    {% endif %}
    {% if content.field_tags|field_value %}
      <div class="tags"{{ content.field_tags|quickedit_attr }}>{{ content.field_tags }}</div>
    {% endif %}
    {% if content.field_media_transcription|field_value %}
      <div class="audio__transcription"{{ content.field_media_transcription|quickedit_attr }}>
        <div class="audio__transcription__header">
          <i class="fa fa-caret-right"></i>
          {{ 'Transkription'|trans }}
        </div>
        <div class="audio__transcription__body closed">
          {{ content.field_media_transcription|field_value }}
        </div>
      </div>
    {% endif %}
    {% if content.field_media_accessibility or content.field_media_language %}
      <div class="audio__assets">
        {% if content.field_media_accessibility %}
          <div class="audio__assets-accessibility"{{ content.field_media_accessibility|quickedit_attr }}>
            {{ content.field_media_accessibility|field_value }}
          </div>
        {% endif %}
        {% if content.field_media_language %}
          <div class="audio__assets-language"{{ content.field_media_language|quickedit_attr }}>
            {{ content.field_media_language|field_value }}
          </div>
        {% endif %}
      </div>
    {% endif %}
  </div>
</article>
