{#
/**
 * @file
 * Default theme implementation to present a media entity.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
{%
set media_classes = [
  'video-upload',
  'clearfix',
]
%}
{% do attributes.setAttribute('aria-label', content.field_title|field_value|render|striptags|trim) %}
<article{{ attributes.addClass(media_classes) }}>
  {{ content.contextual_links }}
  <div class="video-upload__video">
    <video{{ video_attributes.addClass('degov-media-plyr') }}>
      {% if video_mp4 %}
          <source src="{{ video_mp4 }}" type="video/mp4">
      {% endif %}
      {% if video_ogg %}
          <source src="{{ video_ogg }}" type="video/ogg">
      {% endif %}
      {% if video_webm %}
          <source src="{{ video_webm }}" type="video/webm">
      {% endif %}
      {% trans %}
      I'm sorry; your browser doesn't support HTML5 video in WebM with VP8/VP9 or MP4 with H.264.
      {% endtrans %}
      {% for key, subtitle in content.field_video_upload_subtitle if key|first != '#' %}
          {{ subtitle }}
      {% endfor %}
      </video>
      <div class="below-video col-sm-12">{{ field_media_copyright }}</div>
  </div>
</article>
