{#
/**
 * @file
 * Default theme implementation to present a media entity.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
{%
set media_classes = [
  'some-embed',
  'clearfix',
]
%}
<article{{ attributes.addClass(media_classes) }}>
  {% if social_media_disabled %}
    <div class="some-embed" {{ content.field_some_embed_code|quickedit_attr }}>
      {% include '@degov_social_media_settings/js-social-media-code.html.twig' with {classes: ['some-embed__code',]} %}
    </div>
  {% else %}
    <div class="some-embed__code"{{ content.field_some_embed_code|quickedit_attr }}>{{ code }}</div>
  {% endif %}
</article>
