{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
     Only "getter" methods (method names starting with "get", "has", or "is")
     and a few common methods such as "id" and "label" are available. Calling
     other methods (such as node.delete) will result in an exception.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @ingroup templates
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}

{% set classes = [
  'event__teaser',
  node.bundle|clean_class,
  node.isPromoted() ? 'is-promoted',
  node.isSticky() ? 'is-sticky',
  not node.isPublished() ? 'is-unpublished',
  view_mode ? view_mode|clean_class,
  'clearfix',
  'contextual-region',
] %}
<article{{ attributes.addClass(classes)|without('role') }}>
  {{ title_suffix }}

  {% set teaser_link = create_attribute({
    'href': url,
    'aria-labelledby': 'type__' ~ frontend_id ~ ' title__' ~ frontend_id ~ ' date__' ~ frontend_id,
    'aria-describedby': 'description__' ~ frontend_id,
    'class': [
      'teaser-link',
      'clearfix',
    ]
  }) %}
  <a {{ teaser_link }}>
    <div class="row">
      <div class="event__teaser-date-left teaser-date hidden-xs col-sm-4 col-md-3 arrow" aria-hidden="true">
        <div
          class="event__teaser__day">{% if start_date_timestamp is not empty %}{{ start_date_timestamp|format_date('custom', 'd') }}{% endif %}</div>
        <div
          class="event__latest__month">{{ start_date_timestamp|format_date('custom', 'F') }} {{ start_date_timestamp|format_date('custom', 'Y') }}</div>
        <div class="event__teaser__date_location">
          {% if content.field_event_date %}
            <span
              class="event__teaser__time">{{ start_date_timestamp|format_date('custom', 'h:i') }}{% if content.field_event_location %},{% endif %}</span>
          {% endif %}
          {% if content.field_event_location %}
            <span class="event__teaser__location">
          {{ content.field_event_location.0.locality |render|striptags }}
        </span>
          {% endif %}
        </div>
      </div>

      <div class="event__teaser-content teaser-content teaser-content col-sm-8 col-md-9">

        <div class="content-type-label" id="type__{{ frontend_id }}">
          <span>{{ content_type_label }}</span>
        </div>

        {% if content.field_event_date %}
          <div class="event__teaser__date-location visible-xs-block" aria-hidden="true">
            <div class="event__teaser__full-date visible-xs-block" aria-hidden="true">
              {{ start_date_timestamp|format_date('short') }}{% if content.field_event_location %},{% endif %}
              {% if content.field_event_location %}
                {{ content.field_event_location.0.locality|render|striptags }}
              {% endif %}
            </div>

            <div class="event__teaser__date-location-aria visually-hidden" id="date__{{ frontend_id }}">
              {% spaceless %}
              <time class="press__date" datetime="{{ content.field_event_date.value|date('U')|format_date('html_date') }}">
                {{ start_date_timestamp|date('U')|format_date('long') }}
              </time>
              {% if content.field_event_location %},&nbsp;{% trans %}Veranstaltungsort{% endtrans %}:&nbsp;
                {{ content.field_event_location.0.locality|render|striptags }}
              {% endif %}
              {% endspaceless %}
            </div>
          </div>
        {% endif %}

        <div class="event__teaser-title teaser-title" id="title__{{ frontend_id }}">
          {% if elements['#node'].field_teaser_title.value is not empty %}
            <h3{{ elements['#node'].field_teaser_title|quickedit_attr }}>
              {{ elements['#node'].field_teaser_title.value }}
            </h3>
          {% else %}
            <h3>
              {{ elements['#node'].title.value }}
            </h3>
          {% endif %}
        </div>

        <div class="{{ class_teaser_text }}" id="description__{{ frontend_id }}">

          {% if content.field_teaser_sub_title|field_value %}
            <div class="teaser-sub-title">
                <span{{ content.field_teaser_sub_title|quickedit_attr }}>
                  {{ content.field_teaser_sub_title|field_value }}
                </span>
            </div>
          {% endif %}

          {% if content.field_teaser_text|field_value %}
            <div class="event__teaser-text"{{ content.field_teaser_text|quickedit_attr }}>{% autoescape false %}
                {% set text = content.field_teaser_text.value|striptags %}
                {{ text|length > 440 ? text|slice(0, 440) ~ '...' : text }}
              {% endautoescape %}
            </div>
          {% else %}
            <div class="visually-hidden event__teaser-text">{% autoescape false %}
                {{ node.field_teaser_text.value|striptags }}
              {% endautoescape %}
            </div>
          {% endif %}

        </div>

      </div>
    </div>
  </a>
</article>
