<ul class="menu-user-profile-links skin--font-header">
  {% if logged_in %}
    <li class="first">
      <a href="{{ url('user.page') }}" class="login">{{ user.displayname }} <i class="fa fa-user" aria-hidden="true"></i></a>
    </li>
    <li>
      <a href="{{ url('user.logout') }}" class="logout">{% trans %}Logout{% endtrans %} <i class="fa fa-sign-out" aria-hidden="true"></i></a>
    </li>
  {% else %}
    <li class="first">
      <a href="{{ url('user.login') }}" class="login">{% trans %}Log in / Sign up{% endtrans %} <i class="fa fa-user" aria-hidden="true"></i></a>
    </li>
  {% endif %}
</ul>
