{#
/**
 * @file
 * Default theme implementation for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A css-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   JavaScript.
 *
 * @ingroup templates
 *
 * @see template_preprocess_views_view()
 */
#}
{%
  set classes = [
  'view',
  'view-' ~ id|clean_class,
  'view-id-' ~ id,
  'view-display-id-' ~ display_id,
  dom_id ? 'js-view-dom-id-' ~ dom_id,
]
%}
{%  set search_term = view.getExposedInput.volltext %}
{%  set total_rows = view.total_rows %}
{%  set current_page = view.pager.current_page + 1 %}
{%  set items_per_page = view.pager.options.items_per_page  %}
{%  set page_count = ( total_rows / items_per_page )|round(0, 'ceil') %}
{% set result_description %}
  {% if search_term is not empty %}
    {% trans %}Your search for "{{ search_term }}" yielded {{ total_rows }} results.{% endtrans %}
  {% else %}
    {% trans %}Your search without search term yielded {{ total_rows }} results.{% endtrans %}
  {% endif %}
{% endset %}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if title %}
    {{ title }}
  {% endif %}
  {{ title_suffix }}
  <div class="view-header" role="alert" aria-live="assertive">
      {% if header|without('synonyms') %}
          {{ header|without('synonyms') }}
        {% else %}
          <h2 id="search-result-title" class="page-title">{% trans %}Search Results{% endtrans %}</h2>
          {% if rows %}
            <div class="result-info">{{ result_description }}</div>
          {% endif %}
      {% endif %}

      {% if header.synonyms %}
        <div class="result-synonyms">{{ header.synonyms }}</div>
      {% endif %}

      <div id="search-result-info" class="visually-hidden">{% spaceless %}
          {{ result_description }}
          {% trans %}You are on page {{ current_page }} of total {{ page_count }} result pages.{% endtrans %}
        {% endspaceless %}
      </div>
  </div>

  {% if exposed %}
    <div class="view-filters form-group">
      {{ exposed }}
    </div>
  {% endif %}
  {% if attachment_before %}
    <div class="attachment attachment-before">
      {{ attachment_before }}
    </div>
  {% endif %}

  <section id="focus-on-page-load" class="view-content" tabindex="0" aria-labelledby="search-result-title" aria-describedby="search-result-info">
  {% if rows %}
      {{ rows }}
  {% elseif empty %}
    {{ empty }}
  {% else %}
    <div class="no-results-massage">{{ result_description }}</div>
  {% endif %}
  </section>

  {% if pager %}
    {{ pager }}
  {% endif %}
  {% if attachment_after %}
    <div class="attachment attachment-after">
      {{ attachment_after }}
    </div>
  {% endif %}
  {% if more %}
    {{ more }}
  {% endif %}
  {% if footer %}
    <div class="view-footer">
      {{ footer }}
    </div>
  {% endif %}
  {% if feed_icons %}
    <div class="feed-icons">
      {{ feed_icons }}
    </div>
  {% endif %}
</div>
