{#
/**
 * @file
 * Default theme implementation to format the deGov js-social-media-code block.
 *
 * Available variables:
 *   - classes: Array of additional css classes.
 */
#}
{% set attributes = create_attribute() %}
{% do attributes.addClass('js-social-media-code') %}
<div {{ attributes.addClass(classes) }}>
  <div class="js-social-media-code__message js-social-media-code__message-no-js">{% trans %}JavaScript must be enabled to show social media content.{% endtrans %}</div>
</div>
