{#
/**
 * @file
 * Default theme implementation to present a media entity.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 * - document_type_label: Descriptive name for document (mime) type.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
{% set media_classes = [
  'document',
  'media--preview',
  'clearfix',
] %}
<article{{ attributes.addClass(media_classes) }}>
  {{ title_suffix.contextual_links }}

  {% set teaser_link = create_attribute({
    'href': media_url,
    'aria-labelledby': 'type__' ~ frontend_id ~ ' title__' ~ frontend_id,
    'aria-describedby': 'description__' ~ frontend_id,
    'target': '_blank',
    'class': [
      'teaser-link',
      'clearfix',
    ]
  }) %}
  <a {{ teaser_link }}>

   <div class="document__teaser_texts">
      <div class="document__type">
        <span class="visually-hidden"
              id="type__{{ frontend_id }}">{% trans %}Download{% endtrans %} {% trans %}File{% endtrans %}.</span>
        <span aria-hidden="true">{{ content.media_bundle_label }}</span>
      </div>

      <div class="document__title teaser-title" id="title__{{ frontend_id }}" {{ content.field_title|quickedit_attr }}>
        <h3>{{ content.field_title|field_value }}</h3>
      </div>

      <div id="description__{{ frontend_id }}">
        {# Working around double escaped text #}
        {% set description = content.field_description.0|raw['#text']|striptags %}
        {% if description %}
          <div class="document__description" {{ content.field_description|quickedit_attr }}>
            {{ description }}
          </div>
        {% endif %}
        <div class="document__download">
          <div class="btn btn-secondary">
            {% trans %}Download{% endtrans %}&nbsp;<i aria-hidden="true" class="fa fa-download"></i>
            <span class="visually-hidden">{{ document_mime_type_label }}</span>
          </div>
          <span aria-hidden="true" class="document__meta">
            <span class="mime-{{ media_mime|clean_class }}"></span>{{ media_extention|upper }}, {{ media_size }}
          </span>
        </div>
      </div>

      {% if content.field_tags|field_value %}
        <div class="tags" {{ content.field_tags|quickedit_attr }}>
          {{ content.field_tags|render|striptags('<a>') }}
        </div>
      {% endif %}
    </div>
  </a>
</article>
