{#
/**
 * @file
 * Default theme implementation to present a media entity.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
{% set media_classes = [
  'document',
  'clearfix',
] %}
<article{{ attributes.addClass(media_classes) }}>
  {{ title_suffix.contextual_links }}

  {% set teaser_link = create_attribute({
    'href': media_url,
    'aria-labelledby': 'type__' ~ frontend_id ~ ' title__' ~ frontend_id,
    'aria-describedby': 'description__' ~ frontend_id,
    'target': '_blank',
    'class': [
      'teaser-link',
      'clearfix',
    ]
  }) %}
  <a {{ teaser_link }}>

    <div class="document__preview" {{ content.field_document_preview|quickedit_attr }}>
      {% if content.field_document_preview|field_value %}
        {{ content.field_document_preview|field_value }}
      {% else %}
        <i class="{{ preview_icon_class }}"></i>
      {% endif %}
      <div class="document__type__tag">
        {{ content.media_bundle_label }}
      </div>
    </div>
    <div class="document__teaser_texts">
      {% if content.field_tags|field_value %}
        <div class="tags" {{ content.field_tags|quickedit_attr }}>
          {{ content.field_tags|render|striptags('<a>') }}
        </div>
      {% endif %}
      <div class="document__type">
        <span class="visually-hidden"
              id="type__{{ frontend_id }}">{% trans %}Download{% endtrans %} {% trans %}File{% endtrans %}.</span>
        <span aria-hidden="true">{{ content.media_bundle_label }}</span>
      </div>

      <div class="document__title teaser-title" id="title__{{ frontend_id }}" {{ content.field_title|quickedit_attr }}>
        <h3>{{ content.field_title|field_value }}</h3>
      </div>

      <div id="description__{{ frontend_id }}">
        {# Working around double escaped text #}
        {% set description = content.field_description.0|raw['#text']|striptags %}
        {% if description %}
          <div class="document__description"
            {{ content.field_description|quickedit_attr }}>
            {{ description }}
          </div>
        {% endif %}
        <div class="btn btn-secondary document__download">
          {% trans %}Download{% endtrans %}&nbsp;<i aria-hidden="true" class="fa fa-download"></i>
        </div>
      </div>
    </div>
  </a>
</article>
