{#
  link: @string - The url to the post
  caption: @string - The caption for the psots

#}
<div class="social-media-instagram l-slide">
  <a href="{{ link }}">
    <span class="image">
      <img src="{{ imageUrl }}" title="{{ caption }}" alt="{{ caption }}"/>
    </span>
    <span class="caption">{{ caption }}</span>
    <span class="link">{{ link_display }}</span>
    <div class="info">
      {% if views %}
        <span class="views">{{ views }}</span>
      {% endif %}
      {% if likes %}
      <span class="likes">{{ likes }}</span>
      {% endif %}
      {% if comments %}
        <span class="comments">{{ comments }}</span>
      {% endif %}
    </div>
    <div class="date">{{ date }}</div>
  </a>
</div>
