{#
/**
 * @file
 * Default theme implementation to present a media entity.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
<div class="map">
  <div class="hidden">{{ 'Styled Google Map'|t }}</div>
{{ content.field_address_location }}
</div>
