{#
/**
 * @file
 * Default theme implementation to present a media entity.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
{%
set media_classes = [
'video',
'clearfix',
]
%}
<article{{ attributes.addClass(media_classes) }}>
  {{ content.contextual_links }}
  <div class="video__video" {{ content.field_media_video_embed_field|quickedit_attr }}>
    {% include '@degov_social_media_settings/js-social-media-code.html.twig' with {classes: ['video']} %}
  </div>
  <div class="video__extra-info">
    {{ field_media_copyright }}
  </div>
</article>
