{#
/**
 * @file
 * Default theme implementation to present a media entity.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
<article{{ attributes.addClass('col-xs-12') }}>
  {% if content %}
    {% if content.embed_code|field_value %}
      {% if social_media_disabled %}
        {% include '@degov_social_media_settings/js-social-media-code.html.twig' with {classes: []} %}
      {% else %}
        {{ content.embed_code }}
      {% endif %}
    {% endif %}
  {% endif %}
</article>
