{#
/**
 * @file
 * Default theme implementation to present a media entity.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
{%
set media_classes = [
  'video',
  'clearfix',
  'skin--background-primary',
  'row',
]
%}
{% set title = content.field_title|field_value|render|striptags|trim %}
<article{{ attributes.addClass(media_classes) }}>
  {{ content.contextual_links }}
  <div class="video__video" title="{{ title }}" {{ content.field_media_video_embed_field|quickedit_attr }}>
    {% include '@degov_social_media_settings/js-social-media-code.html.twig' with {classes: ['video']} %}
  </div>
  <div class="video__extra-info below-video col-xs-12 info">
    {% if content.field_media_accessibility|field_value %}
      <div class="media__type-label video__assets-accessibility"{{ content.field_media_accessibility|quickedit_attr }}>
        {{ content.field_media_accessibility|field_value }}
      </div>
    {% else %}
      <div class="media__type-label">{{ 'Video'|t }}</div>
    {% endif %}
    {{ field_media_copyright }}

    {% if content.field_title %}
      <h2 class="video__title"{{ content.field_title|quickedit_attr }}>{{ content.field_title|field_value }}</h2>
    {% endif %}
    {% if content.field_subtitle %}
      <h3 class="video__subtitle"{{ content.field_subtitle|quickedit_attr }}>{{ content.field_subtitle|field_value }}</h3>
    {% endif %}
    {% if content.field_media_duration|field_value %}
      <div class="video__duration"{{ content.field_media_duration|quickedit_attr }}>{{ content.field_media_duration|field_value }}</div>
    {% endif %}
    {% if content.field_description|field_value %}
      <div class="video__description"{{ content.field_description|quickedit_attr }}>
        {{ content.field_description|field_value }}
      </div>
    {% endif %}
    {% if content.field_tags|field_value %}
      <div class="tags"{{ content.field_tags|quickedit_attr }}>{{ content.field_tags }}</div>
    {% endif %}
    {% if content.field_media_transcription %}
      <div class="video__transcription"{{ content.field_media_transcription|quickedit_attr }}>
        <button class="video__transcription__header btn btn-toggle" title="{{ 'Toggle transcription'|trans }}">
          <i class="fa fa-caret-right" aria-hidden="true"></i>
          {{ 'Transkription'|trans }}
        </button>
        <div class="video__transcription__body closed">
          {{ content.field_media_transcription|field_value }}
        </div>
      </div>
    {% endif %}
    {% if content.field_media_language %}
      <div class="video__assets">
        <div class="video__assets-language"{{ content.field_media_language|quickedit_attr }}>
          {{ content.field_media_language|field_value }}
        </div>
      </div>
    {% endif %}
  </div>
</article>
