{#
/**
 * @file
 * Default theme implementation to present a media entity.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
{% extends  "@degov_media_gallery/media--gallery.html.twig" %}

{% set attributes = attributes
  .removeClass('skin--background-secondary')
  .addClass('skin--background-primary')
  .addClass('media-gallery-view-mode-full')
%}

{% block field_tags_block %}
  {% set show_field_tags_block = true %}
  {{ parent() }}
{% endblock %}
