{#
/**
 * @file
 * Default theme implementation to present a media entity.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
{%
set media_classes = [
  'citation',
  'clearfix',
]
%}
<article{{ attributes.addClass(media_classes) }}>
  {{ content.contextual_links }}
  <div class="row">
    {% if content.field_citation_image|field_value %}
      <div class="citation__right">
        <div class="citation__image">{{ content.field_citation_image }}</div>
      </div>
    {% endif %}
    <div class="citation__left">
      <blockquote class="citation__text"{{ content.field_citation_text|quickedit_attr }}>{{ content.field_citation_text|field_value }}</blockquote>
      <div class="citation__title"{{ content.field_citation_title|quickedit_attr }}>{{ content.field_citation_title|field_value }}</div>
      <div class="citation__date"{{ content.field_citation_date|quickedit_attr }}>{{ content.field_citation_date|field_value }}</div>
      {% if content.field_tags|field_value %}
        <div class="tags"{{ content.field_tags|quickedit_attr }}>{{ content.field_tags }}</div>
      {% endif %}
    </div>
  </div>
</article>
